* {
    box-sizing: border-box;
    justify-content: space-between;
  }

  /*Ensemble Header*/
  header {
      display: flex;
  }

  header h1{
      margin-top: 80px;
      font-size: 3em;
      margin-left: 80px;
  }

  #carte {
    position: relative;
    margin-top: 20px;
    min-width: 300px;
  }
  
  #carte img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 1.2em;
    width: 470px;
  }

  header li {
    margin-left: 50px;
    display: inline-block;
    font-size: 1.2em;
  }

  header a {
      text-decoration: none;
      color: black;
  }

  header a:hover{
      text-decoration: underline;
  }

  /*Ensemble main */
  #bandeau{
    margin-top: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 2.5em;
    color : #e4b626;
    background-color:#7c3f3f;
  }

  /*Ensemble première section */
  #sect1{
    display: flex;
    justify-content: space-between;
    background-color: #f0ffff;
    padding:50px;
    height : 740px;
  }

  #photo_vero{
    position: relative;
    min-width : 360px;
  }

  #photo_vero img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #para1{
      width : 1000px;
      height : 400px;
      font-size: 1.5em;
      border : 2px solid #7c3f3f;
      padding:20px;
      margin-top: 70px;
      margin-right: 200px;
      margin-left: 50px;
  }

  /*Ensemble deuxième section*/
  #sect2{
    display: flex;
    justify-content: space-between;
    background-color: #fefbdc;
    padding:50px;
    height: 610px;
  }
  
  #para2{
    width : 1000px;
    height : 480px;
    font-size: 1.5em;
    border : 2px solid #7c3f3f;
    padding:20px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:50px ;
    }

    #photo_cc{
        position: relative;
        min-width:613px;
    }

    #photo_cc img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*Ensemble troisième section */
  #sect3{
    display: flex;
    justify-content: space-between;
    background-color: #f0ffff;
    padding:50px;
    height: 700px;
  }

  #photo_vetement{
   position: relative;
   min-width:303px;
   margin-left: 50px;
  }

  #photo_vetement img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #para3{
      width : 1000px;
      height : 250px;
      font-size: 1.5em;
      border : 2px solid #7c3f3f;
      padding:20px;
      margin-top: 70px;
      margin-right: 200px;
      margin-left: 50px;
  }

  /*Ensemble footer*/
  footer{
      display: flex;
      justify-content: space-between;
      height: 200px;
      font-size: 1.2em;
      background-color: #ececec;
  }

  #carte_visite{
      position: relative;
      min-width: 200px;
      margin-left: 50px;
  }

  #carte_visite img{
      width: 100%;
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }

  #carte_visite:hover{
    transform: scale(1.6);
    transform-origin:Center ;
  }

  footer nav ul{
      display: flex;
      width: 500px;
      margin-top: 100px;
      margin-left: -350px;
  }

  footer li {
      display: inline-block;
  }

  footer li i {
      font-size: 2em;
  }

  footer p {
      margin-top: 100px;
      margin-right: 100px;
  }

  @media all and (max-width: 1600px) /*Media query pour les écrans en-dessous de 1600px de large*/
  {

    #sect2{
      height: 760px;
    }

    #para2{
      height :600px;
      }
  }

  @media all and (max-width: 1500px) /*Media query pour les écrans en-dessous de 1440px de large*/
  {
    #para1{
      height: 470px;
    }
    
    #photo_vero{
      min-width: 300px;
    }

    #sect2{
      height: 800px;
    }

    #para2{
      height :670px;
      }

      #photo_cc{
        min-width:500px;
    }

    #sect3{
      height: 700px;
    }

    #para3{
      height : 330px;
    }

    #photo_vetement {
      min-width:303px;
    }
  }


  @media all and (max-width: 1360px) /*Media query pour les écrans en-dessous de 1360px de large*/
  {
    
    #para1{
      border:none;
    }

    #photo_vero{
      min-width: 300px;
    }

    #sect2{
      background-color: #f0ffff;
    }
    
    #para2{
      border:none
    }

    #para3{
      border:none
    }
  }

  @media all and (max-width: 1200px) /*Media query pour les écrans en-dessous de 1200px de large*/
  {

    #para1{
      margin: auto;
    }

    #photo_vero img{
      width: 70%;
    }

    #para2{
      margin:auto;
    }

    #photo_cc img{
    width:70%;
    }

    #sect3{
      height: 800px;
    }

    #para3{
      margin:auto;
    }

    #photo_vetement img{
      width:70%;
    }
    }